@import "tailwindcss";

:root {
  font-family: "Plus Jakarta Sans", sans-serif;

}

@theme {
  --breakpoint-sm: 27rem;
}

@layer utilities {
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinner {
    -moz-appearance: textfield;
  }
}
